# ===========================
# Talium Care App Environment
# ===========================

# Flask App Settings
DB_HOST=db
DB_NAME=talium
DB_USER=admin
DB_PASSWORD=your_db_password_here

REDIS_HOST=redis
REDIS_PORT=6379

FLASK_ENV=production
